package pages

import "templ-components/layouts"

templ Home() {
    @layouts.Base() {
        <div class={homeWrapper()}>
            Hello, world
        </div>
    }
}

css homeWrapper() {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
}